/* NavBar - ID for Navigation bar */
/* MainContainer - ID Body containing All Cards */
    /* container - class General Subject container */
        /* ToggleBtn - class General Toggle button */
        /* topicCard - class General Topic anchor link card */

/* To handle only lagre screen viewing */
/* Make it somemore compressed in from here */

@media screen and (min-width: 800px){
    
    /* Image Section to be updated */
    #PyButton, #JsButton, #JsdomButton, #JavaCoreButton, #CdsButton, #htmlButton, #bashButton, #dbmsButton, #dsaButton, #toolButton, #osButton 
    {
        height: 200px;
    }
    

    .Header {
        text-align: center;
        padding: 12px 0;
        border-radius: 10px 10px 0 0;
        margin-bottom: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* background: linear-gradient(90deg, rgba(24, 246, 246, 0.8), rgba(49, 70, 252, 0.8)); */
        background: linear-gradient(135deg, rgb(48, 125, 231), hsl(0, 61%, 60%));
    }
    /* Header title styling */
    .Header h2 {
        font-size: 35px;
        font-weight: bolder;
        margin: 20px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);       
    }

    
    
    #MainContainer {
        height: 100%;
        padding-top: 30px;
    }
    .container { 
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 40%;
        height: 50%;
        padding: 0 2px 3px 0;
    }

    
    
    .ToggleBtn{
        width: 100%;
        height: 50%;
        text-align: center;
        line-height: 90px;
        grid-column: span 3; /* In grid spanning 3 columns*/
        opacity: 0.8;
    }
    .ToggleBtn:hover{
        transform: translateY(-5px); 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        font-size: 1.4rem;
        opacity: 1;
    }

    
    
    .topicCard {
        width: 100%;
        height: 80px;
        margin: 5px 0;
        text-align: center;
        text-decoration: solid;
        line-height: 80px; /* To center text vertically */
        opacity: 0.9;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .topicCard:hover{
        transform: translateY(-7px); 
        /* slightly move it up for raised effect */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        /* Darker shadow on hover */
        font-size: 1.1rem;
        background-color: rgb(147, 206, 216);
        opacity: 1;
    }
}