/* .book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
  }
   */
.book-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 10px;
justify-content: center;
margin: 0 auto;
padding: 1rem;
}

.book-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 16px;
    
    background-color: var(--vp-c-bg-soft);
    color: var(--vp-c-text-1);
    border: 1px solid var(--vp-c-border);
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.book-card:hover {
    transform: scale(1.01);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.6);
    background-color: var(--vp-c-bg-hover);
}

.book-card h3 {
    margin: 0 0 8px;
    font-size: 1.1rem;
}  

.book-card p {
    line-height: 1.5;
    max-width: 100%;
    margin: 4px 0;
}
  
.book-image{
    width: 120px; 
    height: auto; 
    border-radius: 6px; 
    margin-right: 16px;
    /* flex-shrink: 0; */
    margin-top: 8px;
}

@media (max-width: 450px) {
    .book-container {
        display: block;
    }
    .book-card {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }
    .book-image {
        margin: 0 0 12px 0;
    }
}

/* On larger screens, arrange items in multiple columns */
@media (min-width: 768px) {
    .book-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
}
